.header-container{

    display: flex;
    width: 100%;
    /* background-color: rgb(159, 63, 25); */
    height: 60px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px ridge;
    border-color: rgb(232, 232, 232);
    
}

.sub-header-container{

    display: flex;
    width: 80%;
    /* background-color: rgb(47, 114, 172); */
    height: 60px;
    align-items: center;
    justify-content: space-between;

}

.logo-img{
    height: 30px;
}

.first-section{
    display: flex;
    align-items: center;

}

.first-logo{
    padding: 0px 20px;
}

.menu-section{
    display: flex;
}

.menu-item{
    padding-right: 20px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    display: flex;
}

.last-section{
    display: flex;
    align-items: center;
}


.sign-up-btn{
    display: flex;
    padding-right: 20px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #4940D9;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    
}